# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp

# Конфигурации IDE
.vscode/
.idea/

# Зависимости и сборки
dist/
build/

# Jupyter
.ipynb_checkpoints/